<%- include("templates/header") %> 
    <h1>Hello World!</h1>
    <a href="/createUser">
        <button>Create User</button>
    </a>
    <br>
    <a href="/login">
        <button>Login</button>
    </a>
<%- include("templates/footer") %> 