<%- include("templates/header") %> 
    <h1>Welcome, <%= username %>!</h1>
    You are logged in!
    <br>
    <% 
        const rilla = Math.floor(Math.random() * 3) + 1; 
    %>

    <%  if (rilla == 1) { %> 
        Melon: <img src='/gif1.gif' style='width:250px;'>
    <% } else if (rilla == 2) { %>
        Smirk: <img src='/gif2.gif' style='width:250px;'>
    <% } else if (rilla == 3) { %>
        Socks: <img src='/gif2.gif' style='width:250px;'>
    <% } else { %>
        Invalid rilla id: <%= rilla %> 
    <% } %>  

    <form action="/signout" method="POST">
        <button type="submit">Sign Out</button>
    </form>
<%- include("templates/footer") %> 